# Виключення кеш файлів
__pycache__/
*.py[cod]
.pytest_cache/
tests/database/__pycache__/test_database.cpython-311-pytest-8.2.1.pyc
tests/api/__pycache__/test_http.cpython-311-pytest-8.2.1.pyc

# Виключення файлів налаштувань редактора коду
.vscode/
.idea/

# Виключення файлів бази даних
*.db

# Виключення логів
*.log

# Виключення .DS_Store файлів
.DS_Store

