# Виключення кеш файлів
__pycache__/
*.py[cod]
.pytest_cache/

# Виключення файлів налаштувань редактора коду
.vscode/
.idea/

# Виключення файлів бази даних
*.db

# Виключення логів
*.log

# Виключення .DS_Store файлів
.DS_Store
